.btn__more {
  width: 10rem;
  margin: 16px auto;
  padding: 12px;
  background-color: $purple-900;
  color: $white;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
  font-family: $font-family;
  font-weight: 500;

  &:not(:disabled):hover {
    background-color: $purple-800;
    animation: ease 0.2s;
  }
}